body {
    padding-top: 120px
}

pre {
    background: #f7f7f9
}

@media (min-width: 768px) {
    body>.navbar-transparent {
        box-shadow: none
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        box-shadow: none
    }
}

:root {
    --brand-color: #30c2db;
    --brand-secondary: #ef4275;
}

.bg-primary {
    background-color: var(--brand-color) !important;
}